{% extends 'main.html' %}

{% block content %}


<h2 class="mx-5">Admin panel chat display</h2>
<body>

    {% for r in rooms %}
    <div class="room_card card border border-dark border-2 mx-5 my-2 scrolly">
        <h3 class="text-decoration-underline ">{{ r }}</h3>
        {% for m in messages %}
            <div class="message_card">
            {% if m.room.id == r.id %}
            <div class="d-inline-flex">
            <h5>{{m.profile}}, </h5>
            <p>{{m.created_at}}:</p>   
            <p class="mx-2">{{ m.content }}</p>
                
            
            </div>
            {%endif%}
            </div>
            <!-- <li>{{ m }} | {{ m.room.id }}</li> -->
        {% endfor %}
    </div>
    {% endfor %}
    
</body>
{% endblock content %}
